.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: white;
    padding: 20px;
    min-height: 300px;
    margin: auto;
    border: 2px solid black;
}

.registerForm h1 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

.registerForm a {
    padding: 10px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.registerForm h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    padding: 3px;
}