.hireSection {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hireSection h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 50px;

}

.hireSection--table--thead {
    width: 100%;
}

.hireSection--table--thead--tr {
    width: 100%;
}

.hireSection--table--thead--tr td {
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}

.hireSection--table--tbody--tr td {
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}

.hireSection--debtSpan {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}