.bookOperationDiv__bookSecondHalf {
    width: 50%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bookOperationDiv__bookSecondHalf h1 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin: 10px;
}

.bookOperationDiv__bookSecondHalf--authors {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-bottom: 20px;
}

.bookOperationDiv__bookSecondHalf--info {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 20px;
}

.bookOperationDiv__bookSecondHalf--availability {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}

.bookOperationDiv__bookSecondHalf--takeBookButton {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    padding: 5px;
}