.userSection__header {
    background-color: white;
}

.userSection__header__backLink--image {
    width: 64px;
    height: 64px;
}

.userSection__header__backLink {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}